<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16177396955-vi36d1qmj05nh9ionbb4nko4mpkqlrq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16177396955-vi36d1qmj05nh9ionbb4nko4mpkqlrq1</string>
	<key>API_KEY</key>
	<string>AIzaSyBdoyq29AIZaeedeuLZrz8QyOl3opRTNJY</string>
	<key>GCM_SENDER_ID</key>
	<string>16177396955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deltataf.mynotes</string>
	<key>PROJECT_ID</key>
	<string>myn0tes</string>
	<key>STORAGE_BUCKET</key>
	<string>myn0tes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16177396955:ios:9a97d84ed12753587c60fe</string>
</dict>
</plist>